:root {
  /* Will be using for primary color*/
  --primary: #FF1654;
  /* Will be using for background */
  --secondary: #FFADC3; 
  /*Will be using my special font color*/
  --special: #232c2ecb;  
  /*For transparent color*/
  --no-background-color: transparent;
}

.bg-prime{
  background-color: prime;
}
.bg-second {
  background-color: var(--secondary);
}
.bg-transparent {
  background-color: var(--no-background-color);
}
.color-prime {
  color: var(--primary);
}
.color-special{
  color: var(--special);
}