:root {
  /* Will be using for primary color*/
  --primary: #ff0606;
  /* Will be using for background */
  --secondary:  #ef402d52;
  /*Will be using my special font color*/
  --special: #232c2ecb;  
  /*For transparent color*/
  --no-background-color: transparent;
  --black: #000000cb;
}

.bg-prime{
  background-color: prime;
}
.bg-second {
  background-color: var(--secondary);
}
.bg-transparent {
  background-color: var(--no-background-color);
}
.color-black {
  color: var(--black) !important;
}
.color-prime {
  color: var(--primary);
}
.color-second{
  color: var(--secondary);
}
.color-special{
  color: var(--special);
}
.min-height-100vh {
  min-height: 100vh;
}
.min-height-80vh{
  min-height: 80vh;
}
.mainButton {
  color: white;
  background-color: var(--primary);
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  width: 90%;
}
.mainButton:hover{
  background-color: var(--secondary);
  transition: background-color linear .1s;
}
.m-100 {
  margin-top: 100px;
}
.m-200 {
  margin-top: 200px;
}
.no-wrap {
  flex-wrap: nowrap;
}
.text-justify{
  text-align: justify;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;

  border-radius:110px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(249, 9, 9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 10, 10);}